* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: grey;
    background-size: cover;
}

header{
    background-color: #000000;
    list-style-type: none; /* Remove default list styles */
    padding: 50px; /* Add some padding */
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header li{
    display: inline-block; /* Display list items horizontally */
}

.right-list li a{
    color: #ffffff;
    text-decoration: none; /* Remove underline */
    padding: 5px 20px; /* Add some padding */
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    display: inline-block; /* Display list items horizontally */
    margin-top: 5%;
}

.right-list li a:hover{
    background-color: #ffffff;
    color: #000000;
    transition: 0.7s;
    border-radius: 5px;
} 

.left-list li h1 {
    font-size: 40px;
    color: #ffffff;
}

.display {
    display: flex;
    width: 100%;
    height: 70vh;
}

.display div {
    flex-grow: 1;
    height: 100%;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.display_1 p {
    font-size: 70px;
    color: #000000;
}

.display_2 img{
    align-items: right;
    border-radius: 5px;
    background-color: transparent;
}

.display_3{
    color: black;
    padding: 30px;
    margin-top: 15%;
}

.display_3 ul{
    list-style-type: none; /* Remove default list styles */
    padding: 50px; /* Add some padding */
    text-align: center;
}

.display_3 li{
    font-size: 100px;
    margin-top: 20px;
}

.display_3 li:nth-child(1){
    background-color: red;
    text-align: left;
}

.display_3 li:nth-child(2){
    background-color: orange;
    text-align: center;
}

.display_3 li:nth-child(3){
    background-color: lightblue;
    text-align: right;
    margin-bottom: 300px;
}

footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
}